/* Стилизация кнопки */
.content {
    font-family: Roboto;
    font-size: 16px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
}
.btn {
    min-width: 190px;
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    padding: 15px;
    margin-right: 5px;
    transition: opacity 300ms ease-in-out, background 300ms ease-in-out, border 300ms ease-in-out;
}   
.btn:active {
    color: var(--red); 
    transition: color 300ms ease-in-out;
}
.btn:disabled {
    cursor: not-allowed;
    color: var(--grey-3);
    opacity: 0.4;
}
.btn_primary {
    background: var(--primary);
    opacity: 0.8;
}
.btn_primary:hover:not(:disabled) {
    background: blue;
}
.btn_secondary {
    background: var(--purple);
    opacity: 0.6;
}
.btn_secondary:hover:not(:disabled) {
    background: rgb(202, 3, 252);
}
.btn_alternate {
    background: var(--white);
    border: 1px solid var(--grey-3);
    color:var(--black);
}
.btn_alternate:hover:not(:disabled) {
    border: 1px solid var(--black);
}
