.container-histogram {
    display: inline-block;
    border: 1px solid var(--grey-3);
    border-radius: 7px;
}
.histogram__graphics {
    margin: 39px 29px 15px 26px;
    height: 50px;
    display: flex;
    align-items: baseline;
    gap: 1px;

}
.histogram__item {
    width: 9px;
    background: var(--blue-2);
}

.description_top {
    margin: 0px 24px 6px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}

.description_bottom {
    margin-left: 24px;
}

.description_info {
    text-decoration: none;
    color: var(--blue-2);
}

