.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
    height: 367px;
    box-sizing: border-box;
    padding-bottom: 38px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    /* Card Shadow */
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
}