<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/normalize.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/components/main/main.css"/>
    <link rel="stylesheet" href="/components/main/card.css"/>
</head>
<body>
    <main class="preview">
        <div class="container">
            <div class="preview__cards">
                <div class="card">
                    <div class="card__text">
                        <h3 class="card_title">Tooltip</h3>
                        <p class="card_description">Container</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__text">
                        <h3 class="card_title">Custom form elements</h3>
                        <p class="card_description">Container</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__text">
                        <h3 class="card_title">Calendar</h3>
                        <p class="card_description">Element</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__text">
                        <h3 class="card_title">Modal dialog</h3>
                        <p class="card_description">Container</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__text">
                        <h3 class="card_title">Histogram</h3>
                        <p class="card_description">Element</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__text">
                        <h3 class="card_title">Avatar</h3>
                        <p class="card_description">Element</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>